<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Webproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dept</param-name>
    <param-value>cse</param-value>
  </context-param>
  <context-param>
    <param-name>University</param-name>
    <param-value>uta</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Serv</display-name>
    <servlet-name>Serv</servlet-name>
    <servlet-class>Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv</servlet-name>
    <url-pattern>/Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initContextParamsDemo</display-name>
    <servlet-name>initContextParamsDemo</servlet-name>
    <servlet-class>initContextParamsDemo</servlet-class>
    <init-param>
      <param-name>id</param-name>
      <param-value>1002165634</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>Bhavya</param-value>
    </init-param>
    <init-param>
      <param-name>gender</param-name>
      <param-value>Female</param-value>
    </init-param>
    <init-param>
      <param-name>designation</param-name>
      <param-value>1002165634</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>initContextParamsDemo</servlet-name>
    <url-pattern>/initContextParamsDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hi</display-name>
    <servlet-name>hi</servlet-name>
    <servlet-class>hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hi</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userhome</display-name>
    <servlet-name>userhome</servlet-name>
    <servlet-class>userhome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userhome</servlet-name>
    <url-pattern>/userhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addemployee</display-name>
    <servlet-name>addemployee</servlet-name>
    <servlet-class>addemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addemployee</servlet-name>
    <url-pattern>/addemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeesServlet</display-name>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <servlet-class>ViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesServlet</servlet-name>
    <url-pattern>/ViewEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listemployeeid</display-name>
    <servlet-name>listemployeeid</servlet-name>
    <servlet-class>listemployeeid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listemployeeid</servlet-name>
    <url-pattern>/listemployeeid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewemployeebyid</display-name>
    <servlet-name>viewemployeebyid</servlet-name>
    <servlet-class>viewemployeebyid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewemployeebyid</servlet-name>
    <url-pattern>/viewemployeebyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayemployees</display-name>
    <servlet-name>displayemployees</servlet-name>
    <servlet-class>displayemployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayemployees</servlet-name>
    <url-pattern>/displayemployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteemployee</display-name>
    <servlet-name>deleteemployee</servlet-name>
    <servlet-class>deleteemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteemployee</servlet-name>
    <url-pattern>/deleteemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmpIDsServlet</display-name>
    <servlet-name>ListEmpIDsServlet</servlet-name>
    <servlet-class>ListEmpIDsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmpIDsServlet</servlet-name>
    <url-pattern>/ListEmpIDsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayEmpValues</display-name>
    <servlet-name>displayEmpValues</servlet-name>
    <servlet-class>displayEmpValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayEmpValues</servlet-name>
    <url-pattern>/displayEmpValues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmpByID</display-name>
    <servlet-name>updateEmpByID</servlet-name>
    <servlet-class>updateEmpByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmpByID</servlet-name>
    <url-pattern>/updateEmpByID</url-pattern>
  </servlet-mapping>
</web-app>